*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# GOI Retrieval Project Exclusions
/backend/
/web_portal/
/backups/
/GOI_Retrieval_Backup_*.zip
.idea/
*.iml
.gradle/
*.pdf
/tmp/
